# private final AbstractHorse horse; -> public
public net.minecraft.client.gui.screens.inventory.HorseInventoryScreen f_98812_
public net.minecraft.client.gui.screens.inventory.HorseInventoryScreen f_98813_ # xMouse
public net.minecraft.client.gui.screens.inventory.HorseInventoryScreen f_98814_ # yMouse
# protected Component overlayMessageString; -> public
public net.minecraft.client.gui.Gui f_92990_
# protected int overlayMessageTime; -> public
public net.minecraft.client.gui.Gui f_92991_
